.bodyBuyCourse {
    min-height: 100vh;
    background-color: #fff;
    display: block;
    overflow-y: auto;
    width: 100vw;
    border: 1px solid red;

}

.course-image {
    width: 100%;
    border-radius: 10px;
}