.bodyForgotPassword {

    width: 100vw;
    height: 100vh;
    display: flex !important;
    justify-content: center !important; // Add this
    align-items: center !important;


    .Container {



        text-align: left !important;
        padding: 30px 40px !important;
        width: 100%;
        align-items: center !important;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .ContainerForgot {
            background: linear-gradient(135deg,
                    rgba(255, 255, 255, 0.6) 0%,
                    rgba(255, 255, 255, 0.3) 25%,
                    rgba(150, 150, 150, 0.2) 50%,
                    rgba(255, 255, 255, 0.4) 75%,
                    rgba(255, 255, 255, 0.5) 100%);
            border-radius: 20px;
            border: 2px solid rgb(180, 176, 176);
            padding: 60px 50px !important;
            height: 100% !important;

            .formForgotPassword {
                .btnChangePass {
                    margin-top: 10px !important;

                    button {
                        padding: 10px 20px !important;
                        border-radius: 10px;
                    }

                    button:hover {
                        color: black;
                    }

                }
            }
        }
    }
}